<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký</title>
    <link rel="stylesheet" href="css/signup.css">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <a href="#"><img src="./assets/asset 0.png" alt=""></a>
          </div>
          <div class="dropdown">
            <button class="dropbtn">Dịch vụ </button>
            <div class="dropdown-content">
              <a href="#">Giao hàng nhanh </a>
              <a href="#">Kho bãi và xử lí hàng hoá</a>
              
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">Giới thiệu </button>
            <div class="dropdown-content">
                <a href="#">Về FedEx</a>
                <a href="#">Tin tức</a>
                <a href="#">Quan hệ với nhà đầu tư</a>
                <a href="#">Liên hệ</a>
            </div>
          </div>
        <div class="dropdown">
          <button class="dropbtn">Hỗ trợ </button>
          <div class="dropdown-content">
            <a href="">Câu hỏi thường gặp</a>
            <a href="">Hướng dẫn sử dụng</a>
            <a href="">Điều khoản và điều kiện</a>
            <a href="">Chính sách bảo mật</a>
            <a href="">Chính sách vận chuyển</a>
          </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Thông tin</button>
            <div class="dropdown-content">
                <a href="">Tin tức</a>
                <a href="">Bảng giá</a>
                <a href="">Khuyến mãi</a>
            </div>
          </div>

          <div class="dropdown">
            <button class="dropbtn">Đăng nhập/Đăng kí <i class="bi bi-person-circle"></i></button>
            <div class="dropdown-content">
                <a href="login.html">Đăng nhập</a>
                <a href="">Đăng kí</a>
            </div>
          </div>
          <div class="search-container">
            <input type="search" placeholder="Mã vận chuyển" id="search-input">
            <a href="" id="search-icon">
                <i class="bi bi-search"></i>
            </a>
          </div>
      </div>
    <div class="container">
        <form class="signup-form">
            <h2>Đăng ký</h2>
            <label for="name">Họ và tên:</label>
            <input type="text" id="name" name="name" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="password">Mật khẩu:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Đăng ký</button>
            <p class="login-link">Đã có tài khoản? <a href="login.html">Đăng nhập</a></p>
        </form>
    </div>
</body>
</html>
