@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.navbar {
  overflow: hidden;
  background-color: rgba(72, 2, 129);
}
.logo a img {
  max-height: 1rem;
  margin-left: 30px;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown {
  float: left;
  overflow: hidden;
}
/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(72, 2, 129);

  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Dropdown links */
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* On hover, show the dropdown menu */
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a:hover {
  background-color: white;
  color: black;
}
.search-container {
  overflow: hidden;
  float: right;
  margin-right: 30px;
}
.search-container input[type="search"] {
  border: 1px solid white;
  border-radius: 6px;
  background-color: rgba(72, 2, 129);
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: larger;
  width: 200px;
}
/* end of nav */
.mini_nav {
  font-size: 9px;
  padding: 10px 40px;
  background-color: #bebfc1;
  text-transform: capitalize;
}
.mini_nav a {
  color: black;
  text-decoration: none;
}
/* main */
.landing_support {
  background-image: url("../assets/Brand_850415_US_Support_hero_v1_413382890.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;

  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.landing_support h1 {
  color: #fff;
  font-size: 2.5rem;
  margin-left: 35%;
}
/* main content */
.container {
  text-align: center;
}
.title-container {
  padding-top: 20px;
  width: 65%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.title-container h2 {
  font-size: 35px;
  margin-top: 50px;
  margin-bottom: 40px;
}
.title-container p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  text-align: start;
}
.headwhite {
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.mid-container {
  width: 65%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.left,
.right {
  width: 50%;
  margin: 0 10px;
}
.left .title,
.right .title {
  font-size: 25px;
  margin-top: 35px;
  margin-bottom: 25px;
}
.mid-container .button {
  cursor: pointer;
  margin: 20px 0;
}

.button a {
  color: #007ab7 !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  display: inline-block;

  border: 2px solid #007ab7;
  border-radius: 40px;
  text-decoration: none;
  padding: 16px 24px !important;
}
.button a:hover {
  transform: scale(1.02, 1.09);
}
.Footer {
  /* position:sticky; */
  /* bottom: 0px; */
  background-color: rgba(72, 2, 129);
  padding: 15px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.innerFoot {
  display: inline-block;
  margin-left: 12rem;
}
.footerlink {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
.footercopyright {
  color: #fff;
  font-size: 13px;
  margin-right: 25rem;
}
/* button top */
#back-to-top-button {
  position: fixed;
  bottom: 30px;
  right: 20px;
  display: none;
}

#back-to-top-button a {
  background-color: rgba(72, 2, 129);
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}
