@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.navbar {
  overflow: hidden;
  background-color: rgba(72, 2, 129);
}
.logo a img {
  max-height: 1rem;
  margin-left: 30px;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown {
  float: left;
  overflow: hidden;
}
/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(72, 2, 129);

  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Dropdown links */
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* On hover, show the dropdown menu */
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a:hover {
  background-color: white;
  color: black;
}
.search-container {
  overflow: hidden;
  float: right;
  margin-right: 30px;
}
.search-container input[type="search"] {
  border: 1px solid white;
  border-radius: 6px;
  background-color: rgba(72, 2, 129);
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: larger;
  width: 200px;
}
/* end of nav */
.mini_nav {
  font-size: 9px;
  padding: 10px 40px;
  background-color: #bebfc1;
  text-transform: capitalize;
}
.mini_nav a {
  color: black;
  text-decoration: none;
}
/* main */
.landing_support {
  background-image: url("../assets/Brand_850415_US_Support_hero_v1_413382890.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;

  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.landing_support h1 {
  color: #fff;
  font-size: 2.5rem;
  margin-left: 35%;
}
.left {
  float: left;
}
.faq {
  display: inline-block;
  margin: 10px 60px;
}

.item1 h3 {
  margin-left: 15px;
  font-size: 30px;
}
.item1 ul {
  padding: 0;
}
.item1 ul li {
  padding: 3rem;
  font-size: larger;
  border-bottom: 1px solid #efefef;
}
.item1 ul li i {
  color: rgba(72, 2, 129);
  margin-right: 10px;
}
.item1 ul li:hover {
  background-color: rgba(72, 2, 129);
  border-radius: 10px;
  color: #fff;
  cursor: pointer;

  & > i {
    background-color: rgba(72, 2, 129);
    color: #fff;
  }
}
.right {
  margin-left: 20px;
  float: right;
}
.search_bar input[type="search"] {
  padding: 10px 20px;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  width: 500px;
}
.search_bar {
  margin-bottom: 40px;
}
.search_bar button {
  position: absolute;
  height: 37px;
  width: 36px;
  border: none;
  margin-left: -10px;
  background-color: #ff6200;
  color: white;
}
.search_bar button:hover {
  cursor: pointer;
}

.listing-article article {
  margin-bottom: 20px;
}
.right {
  margin-left: 20px;
  float: right;
  max-width: 70%;
}
.post {
  border-bottom: 1px #efefef dotted;
  padding: 20px 0;
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}
.post-detail {
  width: 90%;
  position: relative;
  overflow: hidden;
  font-size: larger;
}
.post-thumb {
  width: 40%;
  position: relative;
  overflow: hidden;
  margin-right: 20px;
}
.post-thumb a {
  display: block;
  position: relative;
}
.post-thumb img {
  width: 100%;
  height: auto;
  display: block;
  transition: all 0.3s ease-in-out;

  margin: auto 0;
}
.post-content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.Footer {
  /* position:sticky; */
  /* bottom: 0px; */
  background-color: rgba(72, 2, 129);
  padding: 15px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.innerFoot {
  display: inline-block;
  margin-left: 12rem;
}
.footerlink {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
.footercopyright {
  color: #fff;
  font-size: 13px;
  margin-right: 25rem;
}
/* button top */
#back-to-top-button {
  position: fixed;
  bottom: 30px;
  right: 20px;
  display: none;
}

#back-to-top-button a {
  background-color: rgba(72, 2, 129);
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}
